APS_BASE_URL="https://developer.api.autodesk.com"
APS_CLIENT_ID=your_client_id_here
APS_CLIENT_SECRET=your_secret_here
APS_SCOPE="data:read data:write data:create bucket:read viewables:read user-profile:read"
FRONTEND_URL=URL
